[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "uGMAR"]
	path = uGMAR
	url = https://github.com/saviviro/ugmar
	shallow = true
	registered = true
[submodule "gmvarkit"]
	path = gmvarkit
	url = https://github.com/saviviro/gmvarkit
	shallow = true
	registered = true
